@{
    ViewBag.Title = "Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<!-- Content Wrapper -->
<article>
    <!-- Breadcrumb -->
    <section class="theme-breadcrumb pad-50">
        <div class="theme-container container ">
            <div class="row">
                <div class="col-sm-8 pull-left">
                    <div class="title-wrap">
                        <h2 class="section-title no-margin"> product tracking </h2>
                        <p class="fs-16 no-margin"> Track your product & see the current condition </p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <ol class="breadcrumb-menubar list-inline">
                        <li><a href="#" class="gray-clr">Home</a></li>
                        <li class="active">Track</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- /.Breadcrumb -->
    <!-- Tracking -->
    <section class="pt-50 pb-120 tracking-wrap">
        <div class="theme-container container ">
            <div class="row pad-10">
                <div class="col-md-8 col-md-offset-2 tracking-form wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                    <h2 class="title-1"> track your product </h2> <span class="font2-light fs-12">Now you can track your product easily</span>
                    <div class="row">
                        @using (Html.BeginForm("Tracking", "pages", FormMethod.Post, new { @class = "createcity", @id = "createcity" }))
                        {
                            <div class="col-md-7 col-sm-7">
                                <div class="form-group">
                                    <input type="text" placeholder="Enter your Consignment No" name="tracking_number" class="form-control box-shadow">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5">
                                <div class="form-group">
                                    <button class="btn-1" type="submit">track your Order</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if(ViewBag.searchresult != null){
        <div class="row text-center">
           
            <h2 class="section-title no-margin">  @ViewBag.searchresult </h2>
        </div>
        if(@ViewBag.searchtitle != null) { 
            <div class="row">
                <div class="col-md-5 pad-30 wow fadeInLeft" data-wow-offset="50" data-wow-delay=".30s">
                    <img src="~/Content/Assets/Front/img/hand-1248053__340.webp" />
                </div>
                <div class="col-md-7 pad-30 wow fadeInRight" data-wow-offset="50" data-wow-delay=".30s">
                    <div class="prod-info white-clr">
                        <ul>
                            <li> <span class="title-2">Title:</span> <span class="fs-16">@ViewBag.searchtitle </span> </li>
                            <li> <span class="title-2">Consignment No:</span> <span class="fs-16">@ViewBag.searchtracking_number</span> </li>
                            <li> <span class="title-2">Date Sender:</span> <span class="fs-16">@ViewBag.searchdatesender</span> </li>
                            <li> <span class="title-2">Date Delivery:</span> <span class="fs-16">@ViewBag.searchdatereceiver</span> </li>
                            <li> <span class="title-2">Order Status:</span> <span class="fs-16 theme-clr">@ViewBag.searchstatus</span> </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        }
            }
        </div>
    </section>
    <!-- /.Tracking -->

</article>
<!-- /.Content Wrapper -->
